<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <title>Index - Empréstimos</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/styles/index.css" />
    <link rel="stylesheet" href="/static/styles/links.css" />
    <link rel="stylesheet" href="/static/styles/main.css" />
</head>

<body>
    <div class="container-main">
        {% include "links.html" %}
        <div class="main-body">
            <div class="main-body-title">INDEX</div>
            <div class="main-body-content">
                <div class="container-index">
                    <div>Seja bem-vindo ao simulador de empréstimo! O quê gostaria de fazer?</div>
                    <div><a href="/calculadora/">VER CALCULADORA</a></div>
                    <div><a href="/cadastros/">VER EMAILS CADASTRADOS</a></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
